@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #DFEBF2;
    font-family: "Share Tech Mono";
    background-color: #141011;
}

.container{
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CONFIGURAÇÕES DE NAVEGAÇÃO */
#navegacao{
    background-color: #3a3b3b1a;
    width: 95vw;
    padding: 10px 4%;
    position: fixed;
    top: 0;
    left: 0;
}

#navegacao i{
    font-size: 20px;
    color: #DFEBF2;
}

#navegacao ul{
    list-style-type: none;
}

#navegacao ul li{
    display: inline-block;
    margin: 0 40px;
}

#navegacao ul li a{
    color: #DFEBF2;
    text-decoration: none;
    font-size: 20px;
    transition: 0.7s ease;

}

#navegacao ul li a:hover{
    color: #99E2F2;
    font-size: 22px;
}
/*FIM CONFIGURAÇÕES DE NAVEGAÇÃO*/

/*CONFIGURAÇÕES DE HOME*/
#home{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home img{
    width: 500px;
}

#home .principal{
    width: 600px;
}

#home h1{
    font-size: 4em;
    margin: 0;
    padding: 0;
    width: 400px;
}

#home h1 span{
    color: rgb(110, 174, 211);
    font-size: 90px;
}

#home p{
    font-size: 20px;
}

.social-media i{
    color: #DFEBF2;
    font-size: 30px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 0 1%;
    transition: 0.7s ease;
}

.social-media i:hover{
    color: #99E2F2;
}
/*FIM DAS CONFIGURAÇÕES DE HOME*/

/*CONFIGURAÇÕES DE SOBRE*/
#sobre{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.img-container{
    display: block;
    text-align: center;
    margin: 0px 2px;
}

.img-container img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.conheca{
    width: 700px;
    height: 450px;
    padding: 50px;
    border-radius: 20px;
    background-color: rgb(38, 33, 34);
    margin-right: 20px;
}

.conheca p{
    font-size: 19px;
}

.skills{
    width: 500px;
    height: 480px;
    background-color: rgb(38, 33, 34);
    padding: 40px;
    border-radius: 20px;
}

.skills h3 a{
    color: #99E2F2;
    font-size: 23px;
}

.skills ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.skills ul li{
    margin: 0px 0;
}

.skills .barras{
    background-color: #ccc;
    display: block;
    height: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.barras > span{
    height: 20px;
    background: rgb(110, 174, 211);
    position: absolute;
}

.html{
    width: 80%;
    animation: html 2s;
}

.css{
    width: 60%;
    animation: css 2s;
}

.php{
    width: 40%;
    animation: php 2s;
}

.sql{
    width: 40%;
    animation: sql 2s;
}

.java{
    width: 50%;
    animation: java 2s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes php{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes sql{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

#projetos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.projeto-a{
    padding: 20px;
}

.detalhes img{
    height: 300px;
    width: 500px;
    box-sizing: border-box;
}

.descricao a{
    text-decoration: none;
    color: #99E2F2;
}

p {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 1rem;
}